html, body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
}

.logo{
    width: 127px;
    height: 33.02px;
    margin: 20px;
}

.user-avatar{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin: 20px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.poster{
    display: flex;
    flex-direction: row;
    
}